


.img_1 {
	padding: 0px 0px 20px 0px;
}

.h2_gin {
	padding: 0px 0px 0px 50px;
	font-size:4vw;
}

.input {
	margin-left: 100px;
}

.selection-room {
	margin-left: 50px;
}




.navig {
	padding: 15px;
}
